.movie-list {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #333;
  min-height: 100vh;
  width: 100%;
  padding: 1rem 0;
  padding-right: 1rem;
  overflow: hidden;
}

.movie-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
  width: 100%;
}